@font-face {
    font-family: iransans;
    src: url("../assets/fonts/iran\ sans/iransans_medium.woff");
}

:root {
    --input-label-color: rgb(14, 186, 197);
    --background-color: rgb(232, 233, 237);
    --back-color-light: rgb(240, 240, 250);
    --menu-blue: rgb(14, 186, 197);
    --menu-yello: rgb(255, 200, 10);
    --menu-bright-gray: rgb(237, 237, 237);
    --menu-dark-gray: rgb(225, 225, 225);
    --menu-black: rgb(0, 0, 0);
    --menu-white: rgb(255, 255, 255);
    --footer-gray: rgb(114, 120, 125);
    --footer-black: rgb(49, 52, 54);
    --tab-dark-gray: rgb(238, 238, 238);
    --tab-light-gray: rgb(255, 255, 255);
    --tab-darkest-gray: rgb(161, 165, 169);
    --tab-black: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

#homepage,
#products {
    cursor: pointer;
}

body {
    background-color: lightsteelblue;
    direction: rtl;
    margin: 0;
    font-family: iransans;
}

.main-div {
    width: 1280px;
    margin: auto;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: gainsboro;
}

.admin-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--back-color-light);
}

.title-div {
    font-size: 20px;
    color: black;
    margin-top: 30px;
}

.receipts-div {
    margin-top: 40px;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
}

.strech-row {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 50px;
}

.categories-div {
    display: none;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 60%;
}

.products-div {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
    margin-bottom: 30px;
}

.create-product-button {
    font-family: iransans;
    font-size: 14px;
    background-color: #0099ff;
    color: white;
    text-align: center;
    justify-content: center;
    direction: rtl;
    padding: 5px 15px 5px 15px;
    border-radius: 24px;
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
}

.create-product-button:hover {
    -moz-box-shadow: 1px 1px 3px 1px #0099ff;
    -webkit-box-shadow: 1px 1px 3px 1px #0099ff;
    box-shadow: 1px 1px 3px 1px #0099ff;
}


/* menu */

.navbar {
    /* overflow: hidden; */
    height: 65px;
    background-color: var(--menu-white);
    text-align: center;
    z-index: 0;
    flex-grow: 0;
    position: relative;
    top: 0px;
}

.navbar p {
    float: right;
    font-size: 20px;
    padding-right: 25px;
    color: var(--menu-blue);
}

.navbar a {
    float: right;
    font-size: 14px;
    color: inherit;
    padding-top: 22px;
    padding-right: 25px;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropdownbtn {
    font-size: 14px;
    width: 125px;
    background-color: var(--menu-white);
    color: var(--menu-black);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--menu-yello);
    outline: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 21px;
    font-family: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.dropdown-content {
    display: none;
    background-color: var(--menu-dark-gray);
    padding-top: 30px;
    padding-bottom: 15px;
    position: absolute;
    top: 18px;
    left: 21px;
    border-radius: 15px;
    width: 124px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    display: block;
    background-color: var(--menu-dark-gray);
    color: var(--menu-black);
    text-decoration: none;
    padding: 5px 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar a:hover {
    color: var(--menu-blue);
}

.dropdown:hover .dropdownbtn {
    background-color: var(--menu-yello);
}

.dropdown-content a:hover {
    background-color: var(--menu-bright-gray);
    color: var(--menu-black);
}

.logout-btn {
    cursor: pointer;
}

.profile-btn {
    cursor: pointer;
}


/* menu */


/* footer */

.footer {
    bottom: 0;
    max-width: 1280;
    width: 100%;
    clear: both;
    font-size: 14px;
    flex-grow: 0;
    font-family: iransans;
    background-color: var(--footer-black);
    color: var(--footer-gray);
    text-align: center;
}


/* footer */


/* tripple-tab */

.tripple-tab-container {
    direction: rtl;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 24px;
    margin-top: 30px;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.tab {
    font-family: iransans;
    font-size: 14px;
    height: 100%;
    cursor: pointer;
}

.tab a {
    text-decoration: none;
    display: inline-block;
    padding: 6px 40px;
}

.right-tab {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.center-tab {
    border-radius: 0px;
}

.left-tab {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.selected-tab {
    background-color: gainsboro;
    color: var(--tab-black);
}

.selected-tab a {
    color: var(--tab-black);
}

.un-selected-tab {
    background-color: whitesmoke;
    color: var(--tab-darkest-gray);
}

.un-selected-tab a {
    color: var(--tab-darkest-gray);
}


/* tripple tab */


/* table */

table {
    table-layout: fixed;
    font-family: iransans;
    justify-content: center;
    align-items: center;
    border-collapse: separate;
    border-spacing: 0 1em;
    border: none;
    width: 100%;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    direction: rtl;
    color: rgb(218, 216, 216);
    padding: 0px 50px;
    border-radius: 5px;
}

th,
td {
    font-size: 13px;
    text-align: center;
    padding: 10px 2%;
    border-bottom: 1px solid rgb(218, 216, 216);
    border-collapse: collapse;
}

th {
    color: rgb(218, 216, 216);
}

td {
    color: black;
}

tr {
    text-align: right;
    padding: 10px 5px;
}

tr:last-child td {
    border-bottom: none;
}


/* table */


/* input component */

.input-container {
    direction: rtl;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    justify-content: center;
}

.input-label {
    direction: rtl;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: iransans;
    font-size: 14px;
    background-color: var(--input-label-color);
    padding: 10px 10px 10px 10px;
    border-radius: 0px 5px 5px 0px;
    flex-grow: 1;
    color: white;
}

.input-textbox {
    direction: rtl;
    text-align: start;
    font-family: iransans;
    font-size: 13px;
    width: 200px;
    flex-grow: 4;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px 0px 0px 5px;
    color: black;
    border: none;
    outline: none;
}

::placeholder {
    color: lightgrey;
}


/* input component */


/* categories operations */

.operations-div {
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.operation-button {
    font-family: iransans;
    font-size: 12px;
    outline: none;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
}

.operation-button:hover {
    color: var(--input-label-color);
}


/* categories operations */


/* product box */

.products-box {
    background-color: var(--back-color-light);
    color: black;
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;
}


/* .products-box:after {
    content: "";
    display: table;
    clear: both;
} */

.main-product-box {
    position: relative;
    background-color: white;
    color: black;
    display: inline-block;
    text-align: center;
    margin: 35px 35px 35px 35px;
    padding: 12px 12px 12px 12px;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: calc(33.3% - 42px); */
    flex-grow: 0;
    flex-basis: 24%;
    /* flex: 1 0 20%; margin: 5px; */
    border-radius: 2px;
}

.main-product-box .badge {
    position: absolute;
    left: -10px;
    border-radius: 50%;
    background-color: white;
    color: var(--input-label-color);
    top: -10px;
    filter: drop-shadow(3px 3px 10px silver);
    width: 25px;
    height: 25px;
    padding: 8px;
}

.product-image-box {
    /* background-color: white; */
    color: black;
    justify-content: center;
}

.product-desc-box {
    background-color: white;
    color: black;
    direction: rtl;
    text-align: right;
    margin-bottom: 30px;
    justify-content: right;
}

.product-price-box {
    background-color: white;
    color: black;
    flex-direction: row;
    direction: rtl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.product-title {
    font-family: iransans;
    font-size: 16px;
    color: black;
}

.product-category {
    font-family: iransans;
    font-size: 14px;
    color: grey
}

.product-price {
    font-family: iransans;
    font-size: 14px;
    color: grey;
    direction: rtl;
}

.buy-product-button {
    font-family: iransans;
    font-size: 14px;
    background-color: #0099ff;
    color: white;
    text-align: center;
    justify-content: center;
    direction: rtl;
    padding: 5px 15px 5px 15px;
    border-radius: 24px;
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
}

.buy-product-button:hover {
    -moz-box-shadow: 1px 1px 3px 1px #0099ff;
    -webkit-box-shadow: 1px 1px 3px 1px #0099ff;
    box-shadow: 1px 1px 3px 1px #0099ff;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* product box */


/* pagination */

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    background-color: gainsboro;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .2s;
    border-radius: 7px;
    margin: 0 4px;
    cursor: pointer;
}

.pagination a.active {
    background-color: var(--input-label-color);
    color: white;
    border-radius: 7px;
}

.pagination a:hover:not(.active) {
    background-color: silver;
}


/* pagination */


/* edit product modal */

#product-modal {
    display: flex;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
    left: 50%;
    top: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    overflow-x: hidden;
    /* border-radius */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

#product-modal .close-product-div {
    color: #aaa;
    position: absolute;
    right: 10px;
    top: 0px;
    width: 80%;
    font-size: 28px;
    cursor: pointer;
    font-weight: bold;
}

#product-modal .info-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--back-color-light);
    padding: 10px 5px;
    border-radius: 24px;
    max-width: 800px;
}

#product-modal .info-div .form-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-bottom: 30px;
    max-width: 800px;
    margin: 15px 0px;
}

#product-modal .row-one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    direction: rtl;
    justify-content: center;
}

#product-modal .row-two {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    direction: rtl;
    justify-content: flex-start;
}

#product-modal .info-div .submit-div {
    justify-content: center;
    text-align: center;
}

#product-modal .input-container {
    direction: rtl;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 5px 10px 10px 10px;
    width: 100%;
}

#product-modal .input-label {
    direction: rtl;
    text-align: center;
    font-family: iransans;
    font-size: 14px;
    width: 70px;
    background-color: var(--input-label-color);
    padding: 5px 10px 5px 10px;
    border-radius: 0px 5px 5px 0px;
    color: white;
}

#product-modal .input-textbox {
    direction: rtl;
    text-align: center;
    font-family: iransans;
    font-size: 16px;
    width: 200px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px 0px 0px 5px;
    color: black;
    border: none;
    outline: none;
}

#product-modal .info-div .submit-button {
    font-family: iransans;
    background-color: #ffc80a;
    color: black;
    text-align: center;
    justify-content: center;
    direction: rtl;
    padding: 10px 50px 10px 50px;
    border-radius: 24px;
    border-style: solid;
    border-width: 0px;
    font-size: 14px;
    cursor: pointer;
}

#product-modal .info-div .submit-button:hover {
    -moz-box-shadow: 1px 1px 3px 1px #ffc80a;
    -webkit-box-shadow: 1px 1px 3px 1px #ffc80a;
    box-shadow: 1px 1px 3px 1px #ffc80a;
}


/* edit product modal */